@charset "UTF-8";

/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
2.0 - Navigation Menus
	2.1 - Main Menu
	2.2 - Footer Menu
3.0 - Content
	3.1 - Site Structure
	3.2 - Columns
4.0 - Media
5.0 - Utility
	5.1 - Background Colors
	5.2 - Alignments
	5.3 - Breakpoint
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.0 - TYPOGRAPHY
-------------------------------------------------------------- */

body, #about a, #map a, .lead-in a, blockquote a {
    font-family: Georgia, Times, Times New Roman, serif;
    font-variant-ligatures: normal;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, a, label, #contact p {
    font-family: 'Montserrat', sans-serif;
}

h1, blockquote footer, #products span {
    font-weight: 400;
}

.lead-in, .location, #about a, header .col-2-5.f-right, #map a, .price, label, #contact p, nav a {
    font-weight: 700;
}

h1, h2, #hero a, #products .row a, #newsletter a, #contact a {
    text-transform: uppercase;
}

h2, #intro, blockquote, #products .lead-in, .col-5-6 .lead-in, #contact>.row {
    text-align: center;
}

header nav, .price, #newsletter form {
    text-align: right;
}

body, #about a, #map a, #products h3, blockquote a, .lead-in a, nav a:hover {
    color: #2C2C30;
}

h2, #hero a, #products .row a:hover, #newsletter a, #contact a:hover {
    color: #fff;
}

h2, .bg-dark a, .products a, #hero a:hover, #products .row a, #contact a, #newsletter a:hover {
    color: #B2D6B5;
}

h3, blockquote, .location, #map a:hover, #about a:hover, .lead-in a:hover, blockquote a:hover {
    color: #5F6E75;
}

.price, input, textarea {
    font-size: .9rem;
}

p, blockquote footer, #products span, #contact .col-5-7 p, #contact label {
	font-size: 1rem;
}

#hero .row p, blockquote p, #products .lead-in {
    font-size: 1.25rem;
}

/*-- 1.1 - Headings --*/

h1 {
    letter-spacing: 2px;
    padding: 15px 25px;
    border: 5px solid rgba(255, 255, 255, 0.8);
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.9);
}

h2 {
    font-size: 1.75rem;
    margin: 25px 0 25px;
}

h3 {
    font-size: 1.33rem;
    margin-bottom: 0;
}

/*-- 1.2 - Body Copy --*/

p {
    line-height: 1.5rem;
	margin-top: 0;
}

blockquote {
    padding: 75px 0;
}

blockquote p {
    font-style: italic;
    line-height: 1.55rem;
}

blockquote footer {
    font-style: normal;
	padding-top: 10px;
}

#products .lead-in {
	margin-top: -10px;
}

.price {
    margin: 12px 0 7px;
}


/*-- 1.3 - Buttons --*/

a {
    text-decoration: none;
}

nav a, #hero a, #products .row a, #newsletter a {
    -webkit-transition: background-color.5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
	transition: background-color .5s ease;
}

#contact a {
    transition: all .8s ease;
	-webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
}

nav a {
    padding: 7px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#hero a {
    margin-bottom: 25px;
}

#hero a, #newsletter a {
    border: 2px solid #fff;
}

#hero a, #products .row a, #contact a, #newsletter a {
    padding: 7px 15px;
}

#products .row a, #contact p a {
    border: 2px solid #B2D6B5;
}

nav a, #hero a, #products .row a {
    letter-spacing: .125rem;
}

#products .row a {
	margin-top: 7px;
}

#contact p a {
	margin-top: 79px;
}

/*-- 1.4 - Forms --*/

#newsletter form {
    margin-top: 25px;
}

#newsletter input {
    width: 70%;
	margin-right: 20px;
}

#newsletter label {
    display: none;
}

#about a, #map a, blockquote a, .lead-in a {
    text-decoration: underline;
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder {
    font-style: italic;
    font-size: .75rem;
}

input, textarea {
    border: 2px solid #5F6E75;
    border-radius: 5px;
    padding: 5px 0px 5px 5px;
}

input, textarea {
    width: 100%;
}

textarea {
    resize: none;
}



/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */


/*-- 2.1 - Main Menu --*/


nav li:last-child, #contact li:last-child {
    margin-right: 0;
}

nav ul {
    margin-top: 35px;
}

/*-- 2.2 - Footer Menu --*/

#contact ul {
    padding-left: 7px;
    margin-top: -3px;
}

#contact li {
    margin-right: 7px;
}

/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */


/*-- 3.1 - Site Structure --*/

header .col-1-6, header nav, #products .col-1-2, p:last-child, blockquote p, .roast-img, footer .col-1-2, #map .col-2-3 {
    margin-bottom: 0;
}

header[class="row"], #products .bg-green {
	 padding: 0 15px;
}

#products .col-2-5 {
	margin-bottom: 0;
}

#newsletter {
	padding: 10px 0;
}

#products .col-3-5 header p {
    margin: 15px 0;
}

#intro {
    margin-bottom: 50px;
}

#products h3, #products .row a  {
    margin-top: 7px;
}

#about, #products, #contact {
    padding-top: 15px;
}

#hero a {
    margin-top: 50px;
}

#hero a:first-child {
	margin-right: 15px;
}

#hero {
	padding: 75px 0;
}

header .col-1-6 {
    width: 125px;
}

.col-5-6 .lead-in {
    padding: 25px 0;
}

hero {
	margin-bottom: 15px
}

body>div:last-child {
    height: 25px;
}

#contact .row:last-child {
	margin-top: 15px;
}

#contact .col-5-7 p, #contact label {
	margin-bottom: 3px;
}


/*-- 3.2 - Columns --*/

img, .col-1-1 {
    width: 100%;
}

.col-1-2 {
    width: 50%;
}

.col-1-3 {
    width: 33.33%;
}

.col-2-3 {
    width: 66.66%;
}

.col-1-4 {
    width: 25%;
}

.col-3-4 {
    width: 75%;
}

.col-1-5 {
    width: 20%;
}

.col-2-5 {
    width: 40%;
}

.col-3-5 {
    width: 60%;
}

.col-1-6 {
    width: 16.66%;
}

.col-5-6 {
    width: 83.33%;
}

.col-1-7 {
    width: 14.28%;
}

.col-2-7 {
    width: 28.57%;
}

.col-5-7 {
    width: 71.42%;
}

.col-1-8 {
    width: 12.5%;
}

.col-3-8 {
    width: 37.5%;
}

.col-5-8 {
    width: 62.5%;
}

.col-1-9 {
    width: 11.11%;
}

.col-2-9 {
    width: 22.22%;
}

.col-7-9 {
    width: 77.77%;
}

.col-1-10 {
    width: 10%;
}

.col-3-10 {
    width: 30%;
}

.col-7-10 {
    width: 70%;
}

.col-1-11 {
    width: 9.09%;
}

.col-4-11 {
    width: 36.36%;
}

.col-7-11 {
    width: 63.63%;
}

.col-1-12 {
    width: 8.33%;
}

.col-5-12 {
    width: 41.66%;
}

.col-7-12 {
    width: 58.33%;
}

.col-2-5.full, .col-3-5.full {
    width: 100%
}

[class*='col-']:last-of-type {
    padding-right: 0px;
}

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

#hero {
    background: #B2D6B5 url(../img/hero-img.jpg) no-repeat right top fixed;
}

#icon-fb {
    background: url(../img/icon-fb.png) no-repeat;
}

#icon-twitter {
    background: url(../img/icon-twitter.png) no-repeat;
}

#icon-google {
    background: url(../img/icon-google.png) no-repeat;
}

#icon-fb, #icon-twitter, #icon-google {
    height: 35px;
    width: 35px;
    background-position: 0 0;
}

#icon-fb:hover, #icon-twitter:hover, #icon-google:hover {
    background-position: 0 -35px;
}

#about {
    background: url(../img/about-img.jpg) no-repeat center bottom fixed;
}

#logo {
    background: url(../img/logo.png) no-repeat;
    height: 60px;
}

.roast-img {
    background: url(../img/img-packaging.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 150px;
}

#map {
    background: url(../img/map-img.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

blockquote {
    background: url(../img/quote-img.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */


/*-- 5.1 - Background Colors --*/

.bg-dark {
    background-color: #2C2C30;
}

.bg-green, #contact a:hover, #products .row a:hover, #products>.row:first-child header[class="row"] {
    background-color: #B2D6B5;
}

header[class="row"] {
    background-color: #A9c1c9;
}

#map .col-2-3, #hero a:hover, #newsletter a:hover {
    background-color: #fff;
}

/*-- 5.2 - Alignments --*/

*, *:after, *:before {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    width: 70%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*='col-'] {
    float: left;
    padding-right: 25px;
    margin-bottom: 20px;
}

nav ul, li, #hero a, h1, #contact ul, #newsletter form, #newsletter p, #contact a, #products .row a, #contact label, #contact h2 {
    display: inline-block;
}

#contact header a, #contact p {
    display: block;
}

footer .f-right {
    position: relative;
}

.f-right {
    float: right;
}

.col-center {
    float: none;
    margin: 0 auto;
}



/*-- 5.3 Breakpoint --*/

@media (max-width: 480px) {
    
		/*--------------------------------------------------------------
	>>> TABLE OF CONTENTS:
	----------------------------------------------------------------
	
	1.0 - Typography
	2.0 - Navigation Menus
	3.0 - Content
		3.1 - Site Structure
		3.2 - Columns
	4.0 - Media

	--------------------------------------------------------------*/
	
	/*--------------------------------------------------------------
	1.0 TYPOGRAPHY
	-------------------------------------------------------------- */
	
	h1, #hero p, #hero {
        text-align: center;
    }
	
	/*--------------------------------------------------------------
	2.0 NAVIGATION MENUS
	-------------------------------------------------------------- */
		
	nav ul {
        margin-top: 15px;
    }
	
    nav li {
        display: block;
        margin-right: 0;
        margin-top: 15px;
    }
	
    nav li:first-child {
        margin-top: 0;
    }
	
	/*--------------------------------------------------------------
	3.0 CONTENT
	-------------------------------------------------------------- */
	
	/*-- 3.1 Site Structure --*/
	
	.wrapper {
        width: 94%;
    }
	
	#hero .col-2-3 {
        margin: 0 auto;
        float: none;
    }
	
	.col-1-4:nth-child(2), .col-1-6:nth-child(3), .col-1-7, .col-1-8:nth-child(4), .col-1-9:nth-child(3), .col-1-9:nth-child(6), .col-1-10:nth-child(2), .col-1-10:nth-child(4), .col-1-10:nth-child(6), .col-1-10:nth-child(8), .col-1-11, .col-1-12:nth-child(3), .col-1-12:nth-child(6), .col-1-12:nth-child(9) {
        padding-right: 0;
    }
	
	header .col-1-6 {
        margin-top: 10px;
    }
	
    header ul {
        margin-bottom: 0;
    }
	
	#newsletter input {
    	width: 65%;
	}
	
	#contact .col-1-2:first-child, #contact, .col-1-3.sm, .col-1-2.sm {
		padding-right: 0;
	}
	
	#contact label, #contact row:nth-child(2) {
		margin-top: 15px;
	}
	
	#newsletter .col-2-3 {
		margin-top: 0;
	}
	
	#contact, #products, blockquote {
		width: 85%;
		float: none;
		margin: 0 auto
	}
	
	/* 3.2 Columns */
	
    .col-1-2.sm, .col-1-3.sm, .col-2-3.sm, .col-1-4.sm, .col-3-4.sm, #hero .col-2-3 {
        width: 100%;
    }
    .col-2-5.full {
        width: 40%
    }
    .col-3-5.full {
        width: 60%;
    }
    .col-1-4, .col-1-10 {
        width: 50%;
    }
    .col-1-8 {
        width: 25%;
    }
    .col-3-4 {
        width: 75%;
    }
    .col-1-6.sm {
        width: 20%
    }
    .col-5-6 {
        width: 100%
    }
    .col-1-7, .col-1-11 {
        width: 100%;
    }
    .col-1-9, .col-1-6, .col-1-12 {
        width: 33.33%;
    }
    
	/*--------------------------------------------------------------
	4.0 MEDIA
	-------------------------------------------------------------- */
    
    #hero {
        background-position: top center;
    }
	
    #map {
        height: 300px;
    }
	
}

@media (min-width: 480px) {
    .flex {
        display: -webkit-flex;
        display: -mz-flex;
        display: -o-flex;
        display: -ms-flex;
        display: flex;
        overflow: hidden;
    }
    .flex .col-1-2, .flex .col-1-3 {
        flex: 1;
    }
	
	blockquote {
    background-size: 500px;
	}
}


/* Mobile phone break-point 
@media (max-width: 320px) {
	.wrapper {
		width: 95%	
	}
}
*/